#my-style {
}

.content
  pre, pre[class*="language-"]
    code
      color #212121
      font-weight normal

    span[class*="token"]
      color #212121

    span[class="token class-name"]
      color #9c27b0

    span[class="token keyword"]
      color #c62828
      font-weight bold

    span[class="token string"]
      color #d84315

    span[class="token function"]
      color #0d47a1

    span[class="token comment"]
      color #9e9e9e

    span[class*="token macro"]
      color #4caf50

    span[class*="token directive"]
      color #4caf50

.home .hero img
  max-height 200px

.sidebar-heading
  font-size 0.9rem

.sidebar-link
  font-size 0.8rem

.navbar
  background-color #fafafa
  box-shadow: 0px 1px 1px #eeeeee

  .logo
    margin-right 0

  .links
    background-color #fafafa

  .search-box input
    border-radius 0


.contact_icon
  opacity: 0.5
  padding: 3px
  padding-bottom: 0px
  background-color #CCCCCC
  border-radius: 2px;
  position: absolute

.contact_icon:hover
  opacity: 1
  background-color #FFFFFF

.contributor_img
  margin: 1px
  opacity: 0.8

.contributor_img:hover
  opacity: 1

.maintainer_name
  margin-top: 5px
  font-size: 1.2rem
  margin-bottom: 0px



/*
.navbar
  background-color #009688
  //box-shadow: 0px 0px 2px #919191

  .search-box input
    border-radius 0

  .logo
    margin-right 0
  .site-name
    color white
  .nav-links
    color white

    .router-link-active
      color white
      border-bottom 2px solid #EEEEEE !important

    .nav-link:hover
      border-bottom 2px solid #EEEEEE !important

    :hover
      color white

  .links
    background-color #009688


*/